{% extends 'store/base.html' %}
{% load static %}
{% block content %}

    <style>
       .logo-container {
            width: 600px;
            height: 200px;
            position: relative;
            border: 1px solid #ccc;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logo {
            width: 100%;
            height: 100%;
            transition: transform 0.3s ease-in-out;
        }

        .logo:hover {
            transform: scale(1.2);
        } 

        .video-container {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 56.25%; 
        }

        .video-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Montserrat', serif;
            }
            
            #text{
                position: relative;
                color:white;
                font-size: 10rem;
            }
            #sec{
                padding:100px;
            padding-bottom:20px;
            }
            #sec h2{
                font-size: 4rem;
                margin-bottom: 30px;
                color:#20496a;
            }
            #sec p{
                font-size: 1.2rem;
            line-height:2rem;
            font-weight:300;
                color:#20496a;
            }
            table {
                border-collapse: collapse;
                width: 70px;
                margin-top: 20px;
                margin-left: 20px;
            }

            td {
                border: 1px solid black;
                padding: 2px;
                text-align: center;
            }

            td.highlighted-even {
                background-color: lightblue;
            }

            td.highlighted-odd {
                background-color: lightcoral;
            }
            #container {
      position: relative;
      width: 100%;
      height: 800px; /* Высота контейнера, подстроить под ваши нужды */
      overflow: hidden;
    }

    #store {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    #runner {
      position: absolute;
      bottom: 0;
      left: -200px;
      transition: left 1s linear;
    }
    </style>

    <br>
    <br>
    <br>
    
      <section id="sec">
        <h2>Welcome to the I_shop</h2>
        <p style="color:#525050">Discover I_Shop, your go-to online destination for all your shopping desires.
            Browse through our carefully curated selection of top-notch products, ranging from fashionable apparel to state-of-the-art gadgets.
            With our intuitive interface and secure payment options, enjoy a seamless shopping experience from the comfort of your own home.
            Unleash your inner shopaholic and indulge in the convenience of I_Shop
        </p>
      </section>
      
    <div id="container">
      <div id="store">
        <img src="{% static 'images/store.png' %}" alt="Store">
      </div>
    
      <div id="runner">
        <img src="{% static 'images/runner.png' %}" alt="Runner">
      </div>
    </div>

    <div class="logo-container">
        <img class="logo" src="{% static 'images/logo.jpg' %}" alt="Logo">
    </div>
    <div class = "collection-img position-relative">
        <img src = "{% static 'images/cert.jpg' %}" width="400"
     height="500">
    </div>

    <section>
        <h2>Video</h2>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/nNHGiNfnmgg" frameborder="0" allowfullscreen width="800"
                    height="450"></iframe>
          </div>
    </section>
    <br>
    <ul class="timeline">
        <li>
          <div class="year">2021</div>
          <div class="event">
            <h3>Store Opening</h3>
            <p>I_shop opened its doors to customers, offering a wide range of technology,
                 including laptops, smartphones, TVs and gaming consoles.</p>
          </div>
        </li>
        <li>
          <div class="year">2022</div>
          <div class="event">
            <h3>Technology Exhibition Organisation</h3>
            <p>I_shop hosted a major technology exhibition that showcased leading manufacturers
                 and showcased the latest innovative products and technologies.</p>
          </div>
        </li>
        <li>
          <div class="year">2023</div>
          <div class="event">
            <h3>Opening a branch in another city</h3>
            <p>In response to growing demand, I_shop opened a new branch in another 
                city to offer its products and services to customers more widely.</p>
          </div>
        </li>
      </ul>

      <label for="tableSize">Enter table size:</label>
      <input type="number" id="tableSize" min="1" value="3">
      <button id="generateButton">Generate Table</button>
      <button id="transposeButton" style="display: none;">Transpose Table</button>
      <label for="maxSelectedCells">Enter amount of cells selected:</label>
      <input type="number" id="maxSelectedCells" min="1" value="1">
      <button id="addRowButton">Add Row</button>
      <button id="addColumnButton">Add Column</button>
      <div id="matrixTable">
          <table id="randomTable"></table>
      </div>
      
      
    <div class = "col-md-6 col-lg-3 credentials">
                    <br>
                    <br>
                    <h2 class = "fw-light mb-3">Contact Us</h5>
                    <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                        <span class = "me-3">
                            <i class="fa-solid fa-location-dot" style="color: #000000;"></i>
                        </span>
                        <span style="color:#525050">
                            Somewhere in Minsk
                        </span>
                    </div>
                    <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                        <span class = "me-3">
                            <i class="fa-solid fa-envelope" style="color: #000000;"></i>
                        </span>
                        <span style="color:#525050">
                            sorok.arterg@gmail.com
                        </span>
                    </div>
                    <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                        <span >
                            <i class="fa-solid fa-phone" style="color: #000000;">  </i>
                        </span>
                        <span style="color:#525050">+375 29 545 63 04</span>
                    </div>
                </div>
    
<script src="{% static 'js/matrix.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scroll.js' %}"></script>

{% endblock %}