{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<style>
    .employee-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .employee-card {
      width: 250px;
      margin: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      text-align: center;
    }

    .employee-photo {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 10px;
    }

    .employee-name {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .employee-job {
      margin-bottom: 5px;
    }

    .employee-contact {
      font-size: 12px;
      color: gray;
    }
</style>
    <div class="employee-container">
        <div class="employee-card">
            <img class="employee-photo" src="{% static 'images/man_icon.png' %}" alt="Employee 1">
            <div class="employee-name">John Doe</div>
            <div class="employee-job">Software Engineer</div>
            <div class="employee-contact">
                Phone: 123-456-7890<br>
                Email: john.doe@example.com
            </div>
        </div>   
        <div class="employee-card">
            <img class="employee-photo" src="{% static 'images/girl_icon.png' %}" alt="Employee 2">
            <div class="employee-name">Jane Smith</div>
            <div class="employee-job">Graphic Designer</div>
            <div class="employee-contact">
              Phone: 987-654-3210<br>
              Email: jane.smith@example.com
            </div>
        </div>
        <div class="employee-card">
            <img class="employee-photo" src="{% static 'images/boss_icon.png' %}" alt="Employee 1">
            <div class="employee-name">Artem</div>
            <div class="employee-job">General Manager</div>
            <div class="employee-contact">
                Phone: +375-29-545-63-04<br>
                Email: sorok.arterg@gmail.com
            </div>
        </div>  
    </div>
   
    <div class = "col-md-6 col-lg-3">
                    <h5 class = "fw-light mb-3">Contact Us</h5>
                    <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                        <span class = "me-3">
                            <i class="fa-solid fa-location-dot" style="color: #000000;"></i>
                        </span>
                        <span style="color:#525050">
                            Somewhere in Minsk
                        </span>
                    </div>
                    <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                        <span class = "me-3">
                            <i class="fa-solid fa-envelope" style="color: #000000;"></i>
                        </span>
                        <span style="color:#525050">
                            sorok.arterg@gmail.com
                        </span>
                    </div>
                    <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                        <span >
                            <i class="fa-solid fa-phone" style="color: #000000;">  </i>
                        </span>
                        <span style="color:#525050">+375 29 545 63 04</span>
                    </div>
                </div>
{% endblock %}