{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<style>
    h2 {
            text-align: center;
            margin-top: 30px;
        }

    .rating-container {
      max-width: 400px;
      margin: 20px auto;
    }

    .rating-container .rating {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .rating-container .rating .stars {
      color: #FFD700;
      font-size: 24px;
      margin-right: 5px;
    }

    .rating-container .rating .sender {
      font-weight: bold;
      margin-right: 5px;
    }

    .rating-container .rating .comment {
      font-style: italic;
    }
 </style>   
 <br>
    
    <section>
        <h2>Reviews</h2>
        <ul>
            {% for review in reviews %}
                <div class="rating-container">
                    <div class="rating">
                        <span class="stars">Rating: {{ review.rate }} ⭐</span>
                        <span class="sender">{{ review.customer }}</span>
                        <span class="comment">{{ review.comment }}</span>
                    </div>
                </div>
            {% empty %}
                <p>No reviews available.</p>
            {% endfor %}
        </ul>
    </section>

    {% if user.is_authenticated %}
            <section>
                <h2>Leave a Review</h2>
                <form method="post" action="{% url 'reviews' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Submit Review</button>
                </form>
            </section>
    {% endif %}
{% endblock %}