{% extends 'store/base.html' %}
{% load static %}

{% block content %}

    <style>
        .catalog-container {
            display: grid;
            grid-template-columns: repeat(1, 1fr); /* Задает колонки равной ширины */
            grid-gap: 20px; /* Задает промежуток между элементами */
        }

        .partners-container {
            display: flex;
            justify-content: center;
        }

        .partner {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: #f2f2f2;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        .partner-image {
            width: 100%;
            height: 100%;
            object-fit: none;
            border-radius: 50%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
        .banner {
            width: 1000px;
            height: 300px;
            position: relative;
            border: 1px solid #ccc;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .animated-image {
                justify-content: center;
            width: 700px;
            height: 200px;
            animation: scaleUp 2s ease-in-out infinite alternate;
        }

        @keyframes scaleUp {
            0% {
                transform: scale(1);
            }
            100% {
                transform:scale(1.5);
            }
        }

        .carousel {
        width: 300px;
        height: 200px;
        position: relative;
        overflow: hidden;
        }

        .banner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px; /* Задаем радиус скругления углов */
        overflow: hidden; /* Обрезаем содержимое, чтобы оно соответствовало скругленным углам */
        }

        .banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        }
        .banner {
            display: none;
        }
    </style>


     <section id = "collection" class = "py-5">

        <div class = "container">

            <div class = "row g-0">
                <div class = "d-flex flex-wrap justify-content-center mt-5 filter-button-group">
                    <a  href="{% url 'store' %}">
                        <button type = "button" class = "btn m-2 text-dark active-filter-btn">Categories</button>
                    </a>
                    {% for category in categories %}
                    <!--<a  href="{% url 'sort_store' %}">-->
                        <button type = "button" class = "btn m-2 text-dark filter-update" data-filter = "{{ category.id }}">{{ category.name }} {{ category.items.count }}</button>
                    <!--</a>-->

                    {% endfor %}
                </div>

            </div>

        </div>

        <div>
            <div class = "collection-list mt-4 row gx-0 gy-3">
                {% for product in products %}
                <div class = "col-md-6 col-lg-4 col-xl-3 p-2 best catalog-container">
                    <div class = "collection-img position-relative">
                        <img src = "{{product.imageURL}}" class = "w-100">
                    </div>
                    <div class = "text-center">
                        {% if product.is_sold %}
                        <h3><strong>Not available</strong></h3>
                        {% else %}
                        <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary
                                add-btn update-cart">Add to Cart</button>
                        {% endif %}
                        <h6><strong>{{product.name}}</strong></h6>
                        <span class = "fw-bold"><strong>${{product.price|floatformat:2}}</strong> </span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

            <div class="partners-container">
                <div class="partner">
                    <a  href="https://www.apple.com/">
                        <img src = "{% static 'images/apple_logo.png' %}" сlass="partner-image">
                    </a>
                </div>
                <div class="partner">
                    <a  href="https://https://www.samsung.com/ru/">
                        <img src = "{% static 'images/samsung_logo.png' %}" сlass="partner-image">
                    </a>
                </div>
                <div class="partner">
                    <a  href="https://www.sony.ru/">
                        <img src = "{% static 'images/sony_logo.png' %}" сlass="partner-image">
                    </a>
                </div>
              </div>
    </section>
    <!-- end of collection -->

    <div class="carousel">
        <a class="banner" href="https://www.apple.com/" target="_blank">
          <img src="{% static 'images/apple_logo.png' %}" alt="Banner 1">
        </a>
        <a class="banner" href="https://https://www.samsung.com" target="_blank">
          <img src="{% static 'images/samsung_logo.png' %}" alt="Banner 2">
        </a>
        <a class="banner" href="https://www.sony.ru/" target="_blank">
          <img src="{% static 'images/sony_logo.png' %}" alt="Banner 3">
        </a>
    </div>
    {% if request.user.is_superuser %}

    <form>
        <label for="interval">Интервал (в секундах):</label>
        <input type="number" id="interval" value="2">
        <input type="button" value="Установить интервал" onclick="setIntervalValue()">
    </form>

    {% endif %}
   

    <script type="text/javascript" src="{% static 'js/banners.js' %}"></script>


{% endblock content %}



