{% extends 'store/base.html' %}
{% load static %}

{% block content %}

     <section id = "collection" class = "py-5">
        <div class = "container">

            <div class = "row g-0">
                <div class = "d-flex flex-wrap justify-content-center mt-5 filter-button-group">
                    <a  href="{% url 'store' %}">
                        <button type = "button" class = "btn m-2 text-dark active-filter-btn">Categories</button>
                    </a>
                    {% for category in categories %}
                    <!--<a  href="{% url 'sort_store' %}">-->
                        <button type = "button" class = "btn m-2 text-dark filter-update" data-filter = "{{ category.id }}">{{ category.name }} {{ category.items.count }}</button>
                    <!--</a>-->

                    {% endfor %}
                </div>

                <div class = "collection-list mt-4 row gx-0 gy-3">
                    {% for product in products %}
                    <div class = "col-md-6 col-lg-4 col-xl-3 p-2 best">
                        <div class = "collection-img position-relative">
                            <img src = "{{product.imageURL}}" class = "w-100">
                        </div>
                        <div class = "text-center">
                            {% if product.is_sold %}
                            <h3><strong>Not available</strong></h3>
                            {% else %}
                            <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary
                                    add-btn update-cart">Add to Cart</button>
                            {% endif %}
                            <h6><strong>{{product.name}}</strong></h6>
                            <span class = "fw-bold"><strong>${{product.price}}</strong> </span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- end of collection -->


{% endblock content %}



